<% provide(:title, 'Signup') %>
<% content_for :features, "forms-validation pages-register" %>
<% content_for :class, "forms-validation pages-register" %>

<% content_for :stylesheet_head do %>
	<%= stylesheet_link_tag 'light_bootstrap_dashboard_pro/demo', media: 'all', 'data-turbolinks-track' => true %>
<% end %>
<% content_for :javascript_head do %>
	<%= javascript_include_tag 'light_bootstrap_dashboard_pro/demo', 'data-turbolinks-track' => true %>
<% end %>

<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Login", login_path, :class => "nav-btn-border" %></li>
            </ul>
        </div>
    </div>
</nav>

<div class="wrapper wrapper-full-page">
    <div class="full-page register-page" data-color="orange" data-image='<%= image_path("light_bootstrap_dashboard_pro/full-screen-image-2.jpg") %>'>

    <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="header-text">

                            <h2>Fill cancelled appointments fast.
</h2>
                            <h4>It’s totally free to get setup and start building your list. We only make money when you make money.</h4>
                            <hr />
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-2">
                        <div class="media">
                            <div class="media-left">
                                <div class="icon">
                                    <i class="pe-7s-user"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <h4>Stop Losing Money</h4>
                                Here you can write a feature description for your dashboard, let the users know what is the value that you give them.
                            </div>
                        </div>

                        <div class="media">
                            <div class="media-left">
                                <div class="icon">
                                    <i class="pe-7s-graph1"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <h4>Reward Loyalty</h4>
                                Here you can write a feature description for your dashboard, let the users know what is the value that you give them.

                            </div>
                        </div>

                        <div class="media">
                            <div class="media-left">
                                <div class="icon">
                                    <i class="pe-7s-headphones"></i>
                                </div>
                            </div>
                            <div class="media-body">
                                <h4>Free Account</h4>
                                Here you can write a feature description for your dashboard, let the users know what is the value that you give them.

                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 col-md-offset-s1">
                            <div class="card card-plain">
                                <div class="content">
                                <div class="row">
                                    <%= simple_form_for @user do |f| %>
                                      <%= render 'shared/error_messages' %>
                                      <%= f.text_field :name, :class => "form-control form-group", :placeholder => "Name" %>

                                      <%= f.text_field :email, :class => "form-control form-group", :placeholder => "Email" %>

                                      <%= f.password_field :password, :class => "form-group form-control", :placeholder => "Password" %>

                                      <%= f.password_field :password_confirmation, :class => "form-group form-control", :placeholder => "Password Confirmation" %>
                                      <div class="text-center">
                                      <%= f.button :submit, "Create free account", wrapper_html: { class: 'footer' }, class: "btn btn-fill btn-neutral btn-wd" %>
                                      </div>
                                    <% end %>

                                    </div>
                                </div>
                            </div>
                    </div>
                
                </div>
            
            </div>
        
        </div>

    	<footer class="footer footer-transparent">
            <div class="container">
                <p class="copyright text-center">
                    &copy; 2016 <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
      </footer>

    </div>

</div>

<%= debug(params) if Rails.env.development? %>